<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>marcorei</title>

		<meta name="description" content="home of marcorei, designer of websites">
		<meta name="viewport" content="width=device-width">

		<link href="../static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="../static/css/print.css" media="print" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="../static/js/vendor/modernizr.custom.38704.js"></script>

		<script type="text/javascript" src="//use.typekit.net/fmg4qfo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<script type="text/javascript" src="../static/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/angular-background-parallax.js"></script>
		<script type="text/javascript" src="../static/js/angular-page-enter-animate.js"></script>
		<script type="text/javascript" src="../static/js/landing.js"></script>

	</head>


	<body class="mr-page-lp" ng-app="mrLandingApp">



		<!-- Errors -->
		<!--
		<div class="mr-error-section">

			<div class="grid-container">

				<div class="grid-row">

					<div class="grid-col-xs-12">

						<span class="mr-error-msg">No JavaScript is no good! Activate JavaScript!</span>
						
						<a class="mr-error-close" href="javascript:void(0);">X</a>

					</div>

				</div>

			</div>

		</div>
	-->




		<!-- Landing Page Content -->

		<div class="mr-lp-title-section">

			<div class="mr-spacer">&nbsp;</div>

			<div class="grid-container">

				<div class="grid-row">

					<div class="grid-col-xs-12">

						<h1>
							<span class="mr-desktop-line">my name is <a href="">markus</a></span>
							<span class="mr-desktop-line">but everybody</span>
							<span class="mr-desktop-line">calls me <a href="#">marcorei</a>.</span>
						</h1>

					</div>

				</div>

			</div>

			<span class="mr-bg-container" mr-px-parallax mr-px-lvl="0" mr-px-bg-class="mr-bg-1">&nbsp;</span>
			<span class="mr-bg-container" mr-px-parallax mr-px-lvl="1" mr-px-bg-class="mr-bg-2">&nbsp;</span>
			<span class="mr-bg-container" mr-px-parallax mr-px-lvl="2" mr-px-bg-class="mr-bg-3">&nbsp;</span>

		</div>

		<div class="mr-lp-content-section">

			<div class="grid-container">

				<div class="grid-row">

					<div class="grid-col-sm-7">

						<p>
							<span>hi! i'm a designer and UI developer working at <a href="http://www.19h13.com/">19:13</a>.</span>
							<span>i like to craft user interfaces, solve problems, bake bread and play video games.</span>
						</p>

					</div>

				</div>

				<div class="grid-row no-js-hide">

					<div class="grid-col-sm-7">
						
						<div class="mr-input-combo">
							
							<div class="mr-input-before mr-input-icon">
								<span class="mr-icon">K</span>
							</div>

							<input class="mr-input mr-text-input" type="text" placeholder="enter your key">

							<div class="mr-button mr-input-after">
								<span class="mr-icon">S</span>
							</div>

						</div>

					</div>

					<div class="grid-col-sm-5">
						
						<div class="mr-bubble-left" mr-page-enter="mr-entered">
							<div class="mr-arrow"></div>
							<div class="mr-bubble-content">Enter your key if you've got one. Who knows what will be revealed.</div>
						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="mr-lp-footer-section">
			
			<div class="mr-spacer">&nbsp;</div>
			
			<div class="grid-container">

				<div class="mr-profile-pic" mr-page-enter="mr-entered">
					<img src="../static/img/profile-pic.png" alt="">
				</div>

				<p class="mr-twitter"><a title="" href="">@marcorei</a></p>
				<p class="mr-email">riegel.markus@googlemail.com</p>

			</div>

		</div>


	</body>
</html>
