<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>marcorei</title>

		<meta name="description" content="home of marcorei, designer of websites">
		<meta name="viewport" content="width=device-width">

		<link href="../static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="../static/css/print.css" media="print" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="../static/js/vendor/modernizr.custom.38704.js"></script>

		<script type="text/javascript" src="//use.typekit.net/fmg4qfo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<script type="text/javascript" src="../static/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/vendor/angular-responsive-images.min.js"></script>
		<script type="text/javascript" src="../static/js/angular-page-enter-animate.js"></script>
		<script type="text/javascript" src="../static/js/samples.js"></script>

	</head>


	<body class="mr-page-sa" ng-app="mrSamplesApp">


		<!-- Errors -->

		<div class="mr-error-section">

			<div class="grid-container">

				<div class="grid-row">

					<div class="grid-col-sm-8 grid-col-sm-offset-4">

						<span class="mr-error-msg">No JavaScript is no good! Activate JavaScript!</span>
						
						<a class="mr-error-close" href="javascript:void(0);">X</a>

					</div>

				</div>

			</div>

		</div>


		
		<!-- Samples Page Content -->

		<div class="mr-sa-title-section">
			
			<div class="grid-container">

				<div class="grid-row">

					<div class="grid-col-sm-4">
						
						<span class="mr-alignme">&nbsp;</span>
						<a href="#" class="mr-home-link">marcorei</a>

					</div>

					<div class="grid-col-sm-8">

						<h1>work samples</h1>

					</div>

				</div>

			</div>			
	
		</div>




		<div class="mr-sa-content-section">

			<div class="grid-container">





				<div class="mr-sa-img-row" mr-page-enter="mr-entered">

					<div class="grid-row">
						
						<div class="grid-col-sm-4">
							
							<h3 class="mr-sa-sampletitle"><span class="mr-sa-client">BMW Markenschaufenster</span>SUR40 Exponat Technologie-Transfer</h3>

						</div>
						<div class="grid-col-sm-8 mr-sa-media-container">
							
							<span class="mr-media-spacer">

								<img class="mr-res-img" src="../restricted/samples/img/small-content-img.png" bh-src-responsive="[ 
								[ 'default', '../restricted/samples/img/small-content-img.png' ], 
								[ '(min-width: 450px)', '../restricted/samples/img/large-content-img.png' ] ]" />

							</span>

						</div>

					</div>

					<div class="grid-row">

						<div class="grid-col-xs-12 mr-sa-mobile-col">

							<div class="grid-col-sm-4 mr-sa-desctitle">tasks</div>
							<div class="grid-col-sm-8 mr-sa-tasklist">
								<span class="mr-sa-dt-item mr-sa-task">concept</span>
								<span class="mr-sa-dt-item mr-sa-task">design</span>
								<span class="mr-sa-dt-item mr-sa-task">developement</span>
							</div>

							<div class="grid-col-sm-4 mr-sa-desctitle">team</div>
							<div class="grid-col-sm-8 mr-sa-tasklist">
								<span class="mr-sa-task-group">
									<a class="mr-sa-person" href="#">Marius Rzenno</a>
									<span class="mr-sa-task">content care</span>
								</span>
							</div>

						</div>

					</div>

				</div>





				<div class="mr-sa-img-row" mr-page-enter="mr-entered">

					<div class="grid-row">
						
						<div class="grid-col-sm-4">
							
							<h3 class="mr-sa-sampletitle"><span class="mr-sa-client">BMW Markenschaufenster</span>SUR40 Exponat Technologie-Transfer</h3>

						</div>
						<div class="grid-col-sm-8 mr-sa-media-container">
							
							<span class="mr-media-spacer">

								<img class="mr-res-img" src="../restricted/samples/img/small-content-img.png" bh-src-responsive="[ 
								[ 'default', '../restricted/samples/img/small-content-img.png' ], 
								[ '(min-width: 450px)', '../restricted/samples/img/large-content-img.png' ] ]" />

							</span>

						</div>

					</div>

					<div class="grid-row">

						<div class="grid-col-xs-12 mr-sa-mobile-col">

							<div class="grid-col-sm-4 mr-sa-desctitle">tasks</div>
							<div class="grid-col-sm-8 mr-sa-tasklist">
								<span class="mr-sa-dt-item mr-sa-task">concept</span>
								<span class="mr-sa-dt-item mr-sa-task">design</span>
								<span class="mr-sa-dt-item mr-sa-task">developement</span>
							</div>

							<div class="grid-col-sm-4 mr-sa-desctitle">team</div>
							<div class="grid-col-sm-8 mr-sa-tasklist">
								<span class="mr-sa-task-group">
									<a class="mr-sa-person" href="#">Marius Rzenno</a>
									<span class="mr-sa-task">content care</span>
								</span>
							</div>

						</div>

					</div>

				</div>






				
			</div>			

		</div>









	</body>

</html>